#dashboard-wrapper {
  margin-top: 94px;

  .card-box {
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }

  .header-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  .widget-detail {
    text-align: right;
    margin-left: 80px;
    min-height: 77px;
  }
}